@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/root";



@import "./node_modules/bootstrap/scss/bootstrap";

body {
  margin: 0;
  overflow: hidden;
}

.cv-container {
  margin: 0;
  position: fixed;
  background: red;
  height: 100vh;
  padding: 0;
}

.canvas {
  margin: 0;
}